
@model PiesListViewModel

<h1 class="w-100">@Model.CurrentCategory</h1>
@foreach(var pie in Model.Pies)
{
    <div class="col-sm-4 col-lg-4 col-md-4 mt-3">
        <div class="thumbnail card">
            <img src="@pie.ImageThumbnailUrl" alt="">
            <div class="card-body">
                <h5 class="card-title">@pie.Price.ToString("c")</h5>
                <h4 class="card-text">
                    <a asp-controller="Pie" asp-action="Details" asp-route-id="@pie.PieId">@pie.Name</a>
                </h4>
                <p class="card-text">@pie.ShortDescription</p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
}


